<div class="jumbotron text-center">
	<h1>History</h1>


            <table class="table table-bordered">
                <thead>
                <th>
                    Your name
                </th>
                <th>
                    Final scores
                </th>
                <tr>
                    <td>
                        Lisa
                    </td>
                    <td>

                    </td>

                </tr>
                <thead>
                <th>
                    History  uer name
                </th>
                <th>
                    Final scores
                </th>

                </thead>
                <tbody>
                <tr>
                    <td>
                        Tom
                    </td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td>
                        Jack
                    </td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td>
                        Merry
                    </td>
                    <td>

                    </td>

                </tr>
                <tr>
                    <td>
                        Amy
                    </td>
                    <td>


                    </td>

                </tr>

                </tbody>

                </thead>
            </table>
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><button type="button" class="btn btn-primary btn-lg btn-block">Quit</button>

</div>