<div class="jumbotron text-center">
	<h1>Please input your NAME:</h1>
    <div id="login" ng-controller="MainController">
        <form class="form-horizontal" ng-submit="userLogin()">
            <div class="form-group">
                <div class="controls">
                    <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="login.name">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Let's begin the Battle</button>
                </div>
            </div>
        </form>
        <!--<script>-->
            <!--$scope.login = function($scope, socketFactory){-->
                <!--var usrInfo = {email : $scope.login.email, pwd : $scope.login.password};-->
                <!--socketFactory.emit('login', usrInfo);-->
            <!--}-->
        <!--</script>-->
    </div>
    <p> Welcome! {{ login.name }}</p>
</div>